@media only screen and (min-width: 568px) {
    .main-div{
        height: 650px;
        width: 650px;
        margin: 40px auto 60px;
        padding: 140px;
        box-shadow: 0 0 30px #636363;
        border-width: 15px;
    }
    .sub-div{
        height: 350px;
        width: 350px;
    }
    .sub-div i{
        font-size: 275px;
        left: 11%;
        top: 11%;
    }
    .button{
        height: 100px;
        width: 400px;
        font-size: 55px;
        border: 10px solid #6c5ce7;
        border-radius: 25px;
        box-shadow: 0 0 25px #636363;
    }
    .lines{
        height: 620px;
        border-width: 5px;
    }
    .items{
        font-size: 110px;
    }
    .items-six{
        top: 30px;
        left: 59%;
    }
    .items-wicket1{
        top: 160px;
        left: 80%;
    }
    .items-wicket2{
        top: 30px;
        left: 29%;
    }
    .items-four{
        top: 160px;
        left: 7%;
    }
    .items-one{
        top: 56%;
        left: 8%;
    }
    .items-wicket3{
        bottom: 10px;
        left: 30%;
    }
    .items-two{
        bottom: 10px;
        left: 60%;
    }
    .items-three{
        left: 81%;
        bottom: 145px;
    }
    .main-display{
        height: auto;
        margin: 50px auto;
        border-radius: 25px;
        padding: 20px 20px -10px;
        border-width: 5px;
    }
    .scores{
        border-radius: 15px;
        border-width: 5px;
        padding: 8px;
    }
    .scores-para{
        font-size: 50px;
        padding: 5px;
        border-radius: 10px;
    }
    .turn-message{
        margin: 15px auto 0;
        font-size: 35px;
    }
    .dis-message{
        margin: 125px 0 10px;
        padding: 15px;
        font-size: 45px;
    }
    #xtra-msg{
        margin: 10px 0 -5px;
        font-size: 35px;
    }
    .reset{
        width: 80%;
        margin: 50px auto;
    }
    footer{
        font-size: 35px;
    }
    .all-input{
        margin: 40px auto;
    }
    .all-input input{
        font-size: 55px;
        margin: 15px 0;
        padding: 15px;
        border-width: 6px;
        border-radius: 20px;
        box-shadow: 0 0 30px #636363;
    }
    .font-pg{
        margin-bottom: 100px;
        padding: 25px;
        font-size: 40px;
    }
    .font-pg-heading{
        font-size: 100px;
    }
    .ul-li{
        margin: 40px 55px;
    }
    .ul-li ul{
        padding: 16px;
    }
    .ul-li ul li{
        margin: 25px 0;
    }
    
    
}   